In [9]:
import pandas as pd
import numpy as np
import math
import os

# ATTENTION : under windows split on "\\", under linux split on "/"
if os.getcwd().split("/")[-1] == "notebooks":
    os.chdir("..")
print(os.getcwd())

from matplotlib import pyplot as plt
import seaborn as sns

import utils

/home/lola/Documents/Études/EPFL/MA2/Data Visualization/MigrationViz

In [11]:
# Initialization
PATH_WORLD = "data_world/"
SEX_DESTINATION_ORIGIN = PATH_WORLD + "undesa_pd_2020_ims_stock_by_sex_destination_and_origin.xlsx"

In [96]:
# Import table
sankey_2020 = pd.read_excel(SEX_DESTINATION_ORIGIN, sheet_name="Table 2", index_col=0, skiprows=9, na_values='..')

# Keep only lines of interest
sankey_2020 = sankey_2020[22:]

# Drop columns of no interest (keep only continent and sub-continent)
column_index = [1, 3] + [x for x in range(4,24)]
columns_to_drop = sankey_2020.columns[column_index]
sankey_2020.drop(axis='columns', columns=columns_to_drop, inplace=True)

# Rename columns
sankey_2020.rename(columns={"Region, development group of destination": "region",
                            "Unnamed: 3":"location_code",
                            "LATIN AMERICA AND THE CARIBBEAN": "LATIN AMERICA"}, inplace=True)

# Remove .1 and * details
sankey_2020.columns = sankey_2020.columns.str.replace(r'[*\.1]', '', regex=True)
sankey_2020["region"] = sankey_2020.region.str.replace("*","")

# Remove stupid space in front of names
column_list = list()
for col in sankey_2020.columns:
    if col.startswith(" "):
        col = " ".join(col.split())
        column_list.append(col)
    else :
        column_list.append(col)

sankey_2020.columns = column_list

30
30

In [148]:
# Northern america is both a continent and a subregion, it must be present in both continent list and sub_continent 
# Due to incomplete numbers for other sub_continents of Oceania except Australia & New Zealand, Oceania will be used both as a sub_continent and a continent
# OTHER, representing 12 millions people world-wide, needs to be taken into account every where. TODO Make sure it does not cause problems later number wise 

# 
continent = ["AFRICA", "ASIA", "EUROPE", "LATIN AMERICA AND THE CARIBBEAN", "NORTHERN AMERICA", "OCEANIA", "OTHER"]
common_columns = ["region", "location_code"]
continent_subregion = ["NORTHERN AMERICA", "OCEANIA", "OTHER"]
sub_continent = [x for x in column_list if x not in continent and x not in common_columns]

sub_continent.insert(0, common_columns[1])
sub_continent.insert(0, common_columns[0])

sub_continent.insert(19, continent_subregion[0])
sub_continent.insert(20, continent_subregion[1])

sub_continent.insert(len(sub_continent), continent_subregion[-1])

In [149]:
sub_continent

['region',
 'location_code',
 'Eastern Africa',
 'Middle Africa',
 'Northern Africa',
 'Southern Africa',
 'Western Africa',
 'Central Asia',
 'Eastern Asia',
 'South-Eastern Asia',
 'Southern Asia',
 'Western Asia',
 'Eastern Europe',
 'Northern Europe',
 'Southern Europe',
 'Western Europe',
 'Caribbean',
 'Central America',
 'South America',
 'NORTHERN AMERICA',
 'OCEANIA',
 'Australia and New Zealand',
 'Melanesia',
 'Micronesia',
 'Polynesia',
 'OTHER']

In [133]:
column_list

['region',
 'location_code',
 'AFRICA',
 'Eastern Africa',
 'Middle Africa',
 'Northern Africa',
 'Southern Africa',
 'Western Africa',
 'ASIA',
 'Central Asia',
 'Eastern Asia',
 'South-Eastern Asia',
 'Southern Asia',
 'Western Asia',
 'EUROPE',
 'Eastern Europe',
 'Northern Europe',
 'Southern Europe',
 'Western Europe',
 'LATIN AMERICA AND THE CARIBBEAN',
 'Caribbean',
 'Central America',
 'South America',
 'NORTHERN AMERICA',
 'OCEANIA',
 'Australia and New Zealand',
 'Melanesia',
 'Micronesia',
 'Polynesia',
 'OTHER']

In [111]:
sankey_2020_continent = sankey_2020.copy(deep=True)
sankey_2020_continent[common_columns + sub_continent]

,region,location_code,Eastern Africa,Middle Africa,Northern Africa,Southern Africa,Western Africa,Central Asia,Eastern Asia,South-Eastern Asia,...,Caribbean,Central America,South America,Australia and New Zealand,Melanesia,Micronesia,Polynesia,NORTHERN AMERICA,OCEANIA,OTHER
22,AFRICA,903,8244689,3300476,1539224,436677,7396499,6700,50202,51456,...,13714,2089,16721,12415,146,82,1840,53563,14483,2515243
23,Eastern Africa,910,4989040,1251025,708035,66040,17483,0,7979,1163,...,57,0,0,373,0,0,0,3935,373,421867
24,Middle Africa,911,436882,1570589,401250,7249,541785,0,1641,0,...,531,0,0,10,0,0,0,2938,10,832165
25,Northern Africa,912,1379123,144667,354273,1180,44777,4512,8993,41271,...,29,1038,778,1361,0,0,0,23989,1361,92781
26,Southern Africa,913,1433038,187553,12321,360129,54455,42,21637,7449,...,3442,647,9685,10626,121,53,23,17196,10823,665583
27,Western Africa,914,6606,146642,63345,2079,6737999,2146,9952,1573,...,9655,404,6258,45,25,29,1817,5505,1916,502847
28,ASIA,935,696185,11235,3955407,20174,37102,646620,6681690,14944523,...,501,5863,408294,99777,842,1106,0,538199,101725,4176425
29,Central Asia,5500,21,0,128,0,20,484776,103107,123,...,20,0,0,107,0,0,0,320,107,357511
30,Eastern Asia,906,0,0,1959,2160,7260,59664,5342694,2040250,...,0,2735,328942,40224,0,0,0,215678,40224,549438
31,South-Eastern Asia,920,3492,689,3756,864,397,0,896162,7088821,...,145,227,1389,43908,62,1106,0,90225,45076,641093
32,Southern Asia,5501,54863,0,208,262,903,7028,307829,1520414,...,36,0,14628,4570,779,0,0,83426,5349,686643
33,Western Asia,922,637809,10546,3949356,16888,28522,95152,31898,4294915,...,300,2901,63335,10968,1,0,0,148550,10969,1941740
34,EUROPE,908,1853035,900913,5894274,372799,2003253,7032154,1749293,1931038,...,918445,397416,4080063,382723,11153,705,2455,1100304,397036,1338129
35,Eastern Europe,923,5891,4335,23714,2785,10487,5608308,156229,103777,...,5294,4316,14197,5705,59,58,656,65959,6478,496935
36,Northern Europe,924,1010801,74790,200986,276484,467833,42629,544672,640548,...,271966,33792,284129,246328,8868,257,843,415365,256296,226232
37,Southern Europe,925,196293,281276,1657632,31366,704169,53359,465123,255069,...,443198,273561,2971721,69575,259,357,599,216325,70790,51757
38,Western Europe,926,640050,540512,4011942,62164,820764,1327858,583269,931644,...,197987,85747,810016,61115,1967,33,357,402655,63472,563205
39,LATIN AMERICA AND THE CARIBBEAN,904,4229,13934,9215,3208,18205,150,285746,15115,...,1335731,827876,9133566,5451,12,143,24,1293053,5630,391721
40,Caribbean,915,1048,196,351,233,1148,10,10723,5507,...,859403,14137,177107,507,0,0,19,242478,526,104730
41,Central America,916,229,270,1020,343,540,7,53196,3973,...,51844,743476,398956,1207,1,6,0,878451,1214,47346
42,South America,931,2952,13468,7844,2632,16517,133,221827,5635,...,424484,70263,8557503,3737,11,137,5,172124,3890,239645
43,NORTHERN AMERICA,905,1041477,185367,801831,168266,1071816,144491,4886669,5360899,...,6798694,14943682,3793257,186631,78579,22159,56256,1088520,343625,4053153
44,OCEANIA,909,187674,8737,82674,277311,31277,5389,1166404,1277705,...,11687,22048,180834,717927,165289,26803,197687,254319,1107706,182480
45,Australia and New Zealand,927,187620,8737,80128,277311,31277,5389,1149596,1211798,...,6593,22048,180834,696555,152722,4096,163178,227049,1016551,158307
46,Melanesia,928,27,0,1865,0,0,0,1695,18291,...,0,0,0,15282,6570,1051,14602,996,37505,9100
47,Micronesia,954,0,0,0,0,0,0,13317,46271,...,5094,0,0,188,826,21575,407,22822,22996,7368
48,Polynesia,957,27,0,681,0,0,0,1796,1345,...,0,0,0,5902,5171,81,19500,3452,30654,7705